/* line 45, D:/Servers/home/ptt/www/css/basics.scss */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* */
  border: none; }

/* line 48, D:/Servers/home/ptt/www/css/basics.scss */
*:focus {
  outline: none; }

/* line 51, D:/Servers/home/ptt/www/css/basics.scss */
::selection {
  background: blue;
  color: white; }

/* line 52, D:/Servers/home/ptt/www/css/basics.scss */
::-moz-selection {
  background: blue;
  color: white; }

/* line 53, D:/Servers/home/ptt/www/css/basics.scss */
::-webkit-selection {
  background: blue;
  color: white; }

/* line 56, D:/Servers/home/ptt/www/css/basics.scss */
::-webkit-input-placeholder {
  color: #777; }

/* line 57, D:/Servers/home/ptt/www/css/basics.scss */
::-moz-placeholder {
  color: #777; }

/* line 58, D:/Servers/home/ptt/www/css/basics.scss */
:-ms-input-placeholder {
  color: #777; }

/* line 59, D:/Servers/home/ptt/www/css/basics.scss */
:-moz-placeholder {
  color: #777; }

/* line 62, D:/Servers/home/ptt/www/css/basics.scss */
.noscroll {
  position: fixed; }

/* line 65, D:/Servers/home/ptt/www/css/basics.scss */
input:-webkit-autofill {
  -webkit-text-fill-color: black !important; }

/* line 72, D:/Servers/home/ptt/www/css/basics.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000000s ease-in-out 0s !important; }

/* line 87, D:/Servers/home/ptt/www/css/basics.scss */
.one-col {
  width: 5.95%; }

/* line 88, D:/Servers/home/ptt/www/css/basics.scss */
.two-col {
  width: 14.5%; }

/* line 89, D:/Servers/home/ptt/www/css/basics.scss */
.three-col {
  width: 23.05%; }

/* line 90, D:/Servers/home/ptt/www/css/basics.scss */
.four-col {
  width: 31.6%; }

/* line 91, D:/Servers/home/ptt/www/css/basics.scss */
.five-col {
  width: 40.15%; }

/* line 92, D:/Servers/home/ptt/www/css/basics.scss */
.six-col {
  width: 48.7%; }

/* line 93, D:/Servers/home/ptt/www/css/basics.scss */
.seven-col {
  width: 57.25%; }

/* line 94, D:/Servers/home/ptt/www/css/basics.scss */
.eight-col {
  width: 65.8%; }

/* line 95, D:/Servers/home/ptt/www/css/basics.scss */
.nine-col {
  width: 74.35%; }

/* line 96, D:/Servers/home/ptt/www/css/basics.scss */
.ten-col {
  width: 82.9%; }

/* line 97, D:/Servers/home/ptt/www/css/basics.scss */
.eleven-col {
  width: 91.45%; }

/* line 98, D:/Servers/home/ptt/www/css/basics.scss */
.twelve-col {
  width: 100%; }

/* line 101, D:/Servers/home/ptt/www/css/basics.scss */
.cols {
  text-align: justify;
  text-justify: distribute; }
  /* line 102, D:/Servers/home/ptt/www/css/basics.scss */
  .cols:after {
    content: "";
    display: inline-block;
    height: 0.0000000000001px;
    width: 100%; }
  /* line 103, D:/Servers/home/ptt/www/css/basics.scss */
  .cols > * {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: top; }

/* line 117, D:/Servers/home/ptt/www/css/basics.scss */
html {
  width: 100%;
  height: 100%; }

/* line 118, D:/Servers/home/ptt/www/css/basics.scss */
body {
  width: 100%;
  min-height: 100%;
  font-size: 0;
  font-family: 'PF Din Text', Arial, sans-serif;
  position: relative; }

/* line 119, D:/Servers/home/ptt/www/css/basics.scss */
html, body {
  overflow-x: hidden; }

/* line 121, D:/Servers/home/ptt/www/css/basics.scss */
header, section, footer {
  width: 100%;
  float: left; }

/* line 122, D:/Servers/home/ptt/www/css/basics.scss */
section {
  min-height: 100vh;
  box-sizing: border-box; }

/* line 134, D:/Servers/home/ptt/www/css/basics.scss */
h1, h2, h3, h4, h5, h6, p, span, ul, li {
  margin: 0;
  padding: 0; }

/* line 135, D:/Servers/home/ptt/www/css/basics.scss */
ul {
  list-style: none; }

/* line 136, D:/Servers/home/ptt/www/css/basics.scss */
span {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit; }

/* line 138, D:/Servers/home/ptt/www/css/basics.scss */
h1, h2, h3, h4, h5 {
  line-height: 1.2em; }

/* line 141, D:/Servers/home/ptt/www/css/basics.scss */
h1 {
  font-size: 70px;
  line-height: 1em;
  font-weight: 500; }

/* line 142, D:/Servers/home/ptt/www/css/basics.scss */
h2 {
  font-size: 44px;
  font-weight: 500; }

/* line 143, D:/Servers/home/ptt/www/css/basics.scss */
h3 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.04em; }

/* line 146, D:/Servers/home/ptt/www/css/basics.scss */
p {
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 1px; }

/* line 147, D:/Servers/home/ptt/www/css/basics.scss */
p.small {
  font-size: 18px;
  letter-spacing: normal; }

/* line 148, D:/Servers/home/ptt/www/css/basics.scss */
p.mini {
  font-size: 14px;
  font-weight: 500;
  color: #3C2054;
  opacity: 0.4;
  text-transform: uppercase; }

/* line 149, D:/Servers/home/ptt/www/css/basics.scss */
p.big {
  font-size: 25px; }

/* line 150, D:/Servers/home/ptt/www/css/basics.scss */
p.huge {
  font-size: 30px;
  letter-spacing: normal; }

/* line 162, D:/Servers/home/ptt/www/css/basics.scss */
a, input, button, select, textarea {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* line 163, D:/Servers/home/ptt/www/css/basics.scss */
a {
  text-decoration: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  transition: all 0.25s ease-in-out; }
  /* line 164, D:/Servers/home/ptt/www/css/basics.scss */
  a:hover {
    opacity: 0.6; }

/* line 167, D:/Servers/home/ptt/www/css/basics.scss */
select, input, textarea {
  padding: 10px;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  display: inline-block; }

/* line 169, D:/Servers/home/ptt/www/css/basics.scss */
.button {
  text-align: center;
  border: 0;
  padding: 0;
  display: inline-block;
  color: rgba(125, 39, 211, 0.5);
  font-size: 25px;
  line-height: 30px;
  background-color: transparent; }
  /* line 170, D:/Servers/home/ptt/www/css/basics.scss */
  .button:hover {
    opacity: 0.6; }

/*# sourceMappingURL=basics.css.map */