/* line 19, D:/Servers/home/sms-assistent/www/css/basics.scss */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* */
  border: none; }

/* line 22, D:/Servers/home/sms-assistent/www/css/basics.scss */
*:focus {
  outline: none; }

/* line 27, D:/Servers/home/sms-assistent/www/css/basics.scss */
::selection {
  background: #1cc252;
  color: white; }

/* line 28, D:/Servers/home/sms-assistent/www/css/basics.scss */
::-moz-selection {
  background: #1cc252;
  color: white; }

/* line 29, D:/Servers/home/sms-assistent/www/css/basics.scss */
::-webkit-selection {
  background: #1cc252;
  color: white; }

/* line 32, D:/Servers/home/sms-assistent/www/css/basics.scss */
::-webkit-input-placeholder {
  color: #b9f9ce; }

/* line 33, D:/Servers/home/sms-assistent/www/css/basics.scss */
::-moz-placeholder {
  color: #b9f9ce; }

/* line 34, D:/Servers/home/sms-assistent/www/css/basics.scss */
:-ms-input-placeholder {
  color: #b9f9ce; }

/* line 35, D:/Servers/home/sms-assistent/www/css/basics.scss */
:-moz-placeholder {
  color: #b9f9ce; }

/* line 38, D:/Servers/home/sms-assistent/www/css/basics.scss */
.noscroll {
  position: fixed; }

/* line 41, D:/Servers/home/sms-assistent/www/css/basics.scss */
input:-webkit-autofill {
  -webkit-text-fill-color: white !important; }

/* line 48, D:/Servers/home/sms-assistent/www/css/basics.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000000s ease-in-out 0s !important; }

/* line 61, D:/Servers/home/sms-assistent/www/css/basics.scss */
html {
  width: 100%;
  min-height: 100%; }

/* line 62, D:/Servers/home/sms-assistent/www/css/basics.scss */
body {
  width: 100%;
  min-height: 100%;
  font-size: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #1a1a1a; }

/* line 63, D:/Servers/home/sms-assistent/www/css/basics.scss */
html, body {
  overflow-x: hidden;
  min-width: 319px; }

/* line 65, D:/Servers/home/sms-assistent/www/css/basics.scss */
header, section, footer {
  width: 100%;
  float: left;
  clear: both; }

/* line 66, D:/Servers/home/sms-assistent/www/css/basics.scss */
section {
  text-align: center; }

/* line 68, D:/Servers/home/sms-assistent/www/css/basics.scss */
.container {
  width: 1320px;
  margin: 0 auto; }

/* line 69, D:/Servers/home/sms-assistent/www/css/basics.scss */
.container.small {
  width: 720px; }

/* line 81, D:/Servers/home/sms-assistent/www/css/basics.scss */
h1, h2, h3, h4, h5, h6, p, span, ul, li {
  margin: 0;
  padding: 0; }

/* line 82, D:/Servers/home/sms-assistent/www/css/basics.scss */
ul {
  list-style: none; }

/* line 83, D:/Servers/home/sms-assistent/www/css/basics.scss */
span {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit; }

/* line 86, D:/Servers/home/sms-assistent/www/css/basics.scss */
h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.27273em; }

/* line 87, D:/Servers/home/sms-assistent/www/css/basics.scss */
h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.23529em; }

/* line 88, D:/Servers/home/sms-assistent/www/css/basics.scss */
h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2em; }

/* line 89, D:/Servers/home/sms-assistent/www/css/basics.scss */
h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em; }

/* line 90, D:/Servers/home/sms-assistent/www/css/basics.scss */
h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2em; }

/* line 93, D:/Servers/home/sms-assistent/www/css/basics.scss */
p {
  font-size: 14px;
  line-height: 1.3em; }

/* line 94, D:/Servers/home/sms-assistent/www/css/basics.scss */
p.small {
  font-size: 12px; }

/* line 95, D:/Servers/home/sms-assistent/www/css/basics.scss */
p.big {
  font-size: 16px; }

/* line 96, D:/Servers/home/sms-assistent/www/css/basics.scss */
p.huge {
  font-size: 18px; }

/* line 98, D:/Servers/home/sms-assistent/www/css/basics.scss */
.green {
  color: #1cc252; }

/* line 110, D:/Servers/home/sms-assistent/www/css/basics.scss */
a, input, button, select, textarea, .ui-selectmenu-button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* line 111, D:/Servers/home/sms-assistent/www/css/basics.scss */
a {
  text-decoration: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit; }

/* line 113, D:/Servers/home/sms-assistent/www/css/basics.scss */
select, input, textarea, .ui-selectmenu-button {
  padding: 10px;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  display: inline-block; }

/* line 115, D:/Servers/home/sms-assistent/www/css/basics.scss */
form {
  /*--------*/
  /*--------*/
  /*--------*/
  /*--------*/ }
  /* line 116, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form .ui-selectmenu-button {
    width: 100% !important; }
  /* line 117, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form select, form input, form .ui-selectmenu-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 18px;
    color: #b9f9ce;
    font-weight: 500;
    padding: 19px 33px;
    vertical-align: middle; }
  /* line 118, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form select, form .ui-selectmenu-button {
    background: #00b646 url("../img/selectarrow.svg") no-repeat right 36px bottom 22px; }
  /* line 119, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form input {
    background-color: #1cc252; }
    /* line 120, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form input:focus {
      background-color: #00b646; }
  /* line 125, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form p.infotext {
    position: absolute;
    top: 70px;
    left: 5px;
    line-height: 1.5em;
    font-size: 12px;
    text-align: left; }
  /* line 126, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form p.type {
    position: absolute;
    font-size: 12px;
    top: 12px;
    left: 35px;
    color: #b9f9ce;
    transition: all 0.25s ease-in-out;
    opacity: 0;
    z-index: 3; }
  /* line 130, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form .half {
    width: 49.2%; }
    /* line 131, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form .half.right {
      margin-left: 1.6%; }
  /* line 136, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form .button {
    background-color: #fff;
    color: #1cc252;
    min-width: 275px;
    box-shadow: 0px 10px 46px 0px rgba(0, 0, 0, 0.19);
    padding-bottom: 18px; }
    /* line 137, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form .button:hover {
      background-color: #d7fbdd; }
    /* line 138, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form .button[disabled] {
      pointer-events: none; }
  /* line 141, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form .fake-button {
    margin: 0;
    width: auto;
    margin-top: 92px;
    cursor: pointer !important;
    display: inline-block;
    position: relative; }
    /* line 142, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form .fake-button:hover .button {
      background-color: #d7fbdd; }
  /* line 147, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form > div {
    margin-top: 30px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 100%; }
    /* line 148, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form > div:first-child {
      margin-top: 0; }
    /* line 150, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form > div.active p.type {
      opacity: 1; }
    /* line 151, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form > div.active select, form > div.active input, form > div.active .ui-selectmenu-button {
      padding: 26px 33px 12px;
      color: white; }
    /* line 154, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form > div.error .ui-selectmenu-button, form > div.error select, form > div.error input {
      border-color: #ffc07b; }
    /* line 155, D:/Servers/home/sms-assistent/www/css/basics.scss */
    form > div.error .errortext {
      opacity: 1;
      pointer-events: all; }
  /* line 158, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form .errortext {
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-in-out; }
  /* line 160, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form .yurlico {
    display: inline-block; }
  /* line 161, D:/Servers/home/sms-assistent/www/css/basics.scss */
  form .fizlico {
    display: none; }

/* line 164, D:/Servers/home/sms-assistent/www/css/basics.scss */
.button {
  text-align: center;
  border: 0;
  padding: 17px 37px;
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: #1cc252;
  border-radius: 1000px; }
  /* line 165, D:/Servers/home/sms-assistent/www/css/basics.scss */
  .button:hover {
    background-color: #46db68; }
  /* line 166, D:/Servers/home/sms-assistent/www/css/basics.scss */
  .button.small {
    color: #1cc252;
    background-color: transparent;
    border: 2px solid #1cc252;
    font-size: 14px;
    padding: 10px 22px 9px; }
    /* line 167, D:/Servers/home/sms-assistent/www/css/basics.scss */
    .button.small:hover {
      color: white;
      background-color: #1cc252; }

/*# sourceMappingURL=basics.css.map */