/* line 6, D:/Servers/home/joybyjoy/www/css/basics.scss */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* */
  border: none; }

/* line 9, D:/Servers/home/joybyjoy/www/css/basics.scss */
*:focus {
  outline: none; }

/* line 12, D:/Servers/home/joybyjoy/www/css/basics.scss */
::selection {
  background: #50d7e0;
  color: white; }

/* line 13, D:/Servers/home/joybyjoy/www/css/basics.scss */
::-moz-selection {
  background: #50d7e0;
  color: white; }

/* line 14, D:/Servers/home/joybyjoy/www/css/basics.scss */
::-webkit-selection {
  background: #50d7e0;
  color: white; }

/* line 17, D:/Servers/home/joybyjoy/www/css/basics.scss */
::-webkit-input-placeholder {
  color: #777; }

/* line 18, D:/Servers/home/joybyjoy/www/css/basics.scss */
::-moz-placeholder {
  color: #777; }

/* line 19, D:/Servers/home/joybyjoy/www/css/basics.scss */
:-ms-input-placeholder {
  color: #777; }

/* line 20, D:/Servers/home/joybyjoy/www/css/basics.scss */
:-moz-placeholder {
  color: #777; }

/* line 23, D:/Servers/home/joybyjoy/www/css/basics.scss */
.noscroll {
  position: fixed; }

/* line 26, D:/Servers/home/joybyjoy/www/css/basics.scss */
input:-webkit-autofill {
  -webkit-text-fill-color: black !important; }

/* line 33, D:/Servers/home/joybyjoy/www/css/basics.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000000s ease-in-out 0s !important; }

/* line 38, D:/Servers/home/joybyjoy/www/css/basics.scss */
.cols {
  text-align: justify;
  text-justify: distribute; }
  /* line 39, D:/Servers/home/joybyjoy/www/css/basics.scss */
  .cols:after {
    content: "";
    display: inline-block;
    height: 0.0000000000001px;
    width: 100%; }
  /* line 40, D:/Servers/home/joybyjoy/www/css/basics.scss */
  .cols > * {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top; }

/* line 54, D:/Servers/home/joybyjoy/www/css/basics.scss */
html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; }

/* line 55, D:/Servers/home/joybyjoy/www/css/basics.scss */
body {
  width: 100%;
  min-height: 100%;
  font-size: 0;
  font-family: 'Gotham Pro', Arial, sans-serif;
  color: #191919;
  overflow-x: hidden; }

/* line 57, D:/Servers/home/joybyjoy/www/css/basics.scss */
header, section, footer {
  width: 100%;
  float: left; }

/* line 58, D:/Servers/home/joybyjoy/www/css/basics.scss */
section {
  min-height: 100vh;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  flex-flow: wrap;
  align-content: center; }
  /* line 59, D:/Servers/home/joybyjoy/www/css/basics.scss */
  section > img {
    position: absolute; }

/* line 61, D:/Servers/home/joybyjoy/www/css/basics.scss */
.container {
  width: 1270px;
  min-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 2; }

/* line 73, D:/Servers/home/joybyjoy/www/css/basics.scss */
h1, h2, h3, h4, h5, h6, p, span, ul, li {
  margin: 0;
  padding: 0; }

/* line 74, D:/Servers/home/joybyjoy/www/css/basics.scss */
ul {
  list-style: none; }

/* line 75, D:/Servers/home/joybyjoy/www/css/basics.scss */
span {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit; }

/* line 77, D:/Servers/home/joybyjoy/www/css/basics.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Amperserif';
  text-transform: uppercase; }

/* line 80, D:/Servers/home/joybyjoy/www/css/basics.scss */
h1 {
  font-size: 48px;
  letter-spacing: 0.225em; }

/* line 81, D:/Servers/home/joybyjoy/www/css/basics.scss */
h2 {
  font-size: 40px; }

/* line 82, D:/Servers/home/joybyjoy/www/css/basics.scss */
h3 {
  font-size: 24px;
  letter-spacing: 0.2em;
  line-height: 1.5em; }

/* line 85, D:/Servers/home/joybyjoy/www/css/basics.scss */
p {
  font-size: 18px;
  line-height: 1.5em; }

/* line 86, D:/Servers/home/joybyjoy/www/css/basics.scss */
p.small {
  font-size: 12px; }

/* line 87, D:/Servers/home/joybyjoy/www/css/basics.scss */
p.big {
  font-size: 24px; }

/* line 88, D:/Servers/home/joybyjoy/www/css/basics.scss */
p.huge {
  font-size: 36px; }

/* line 100, D:/Servers/home/joybyjoy/www/css/basics.scss */
a, input, button, select, textarea {
  transition: all 0.25s ease-in-out;
  box-sizing: border-box; }

/* line 101, D:/Servers/home/joybyjoy/www/css/basics.scss */
a {
  text-decoration: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit; }

/* line 102, D:/Servers/home/joybyjoy/www/css/basics.scss */
select, input, textarea {
  padding: 10px;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  display: inline-block; }

/* line 104, D:/Servers/home/joybyjoy/www/css/basics.scss */
.button {
  text-align: center;
  display: inline-block;
  font-size: 16px; }
  /* line 105, D:/Servers/home/joybyjoy/www/css/basics.scss */
  .button.account {
    margin-right: 29px; }
    /* line 106, D:/Servers/home/joybyjoy/www/css/basics.scss */
    .button.account img {
      margin-right: 7px;
      vertical-align: middle;
      margin-top: -4px; }
    /* line 107, D:/Servers/home/joybyjoy/www/css/basics.scss */
    .button.account:hover {
      opacity: .6; }
  /* line 109, D:/Servers/home/joybyjoy/www/css/basics.scss */
  .button.login {
    padding: 0px;
    border: 1px solid #d8d8d8;
    border-radius: 24px;
    line-height: 46px;
    width: 195px; }
    /* line 110, D:/Servers/home/joybyjoy/www/css/basics.scss */
    .button.login img {
      margin-right: 7px;
      vertical-align: middle;
      vertical-align: middle;
      margin-top: -2px;
      transition: all 0.25s ease-in-out;
      left: 0;
      position: relative; }
    /* line 111, D:/Servers/home/joybyjoy/www/css/basics.scss */
    .button.login:hover {
      border-color: #888; }
      /* line 112, D:/Servers/home/joybyjoy/www/css/basics.scss */
      .button.login:hover img {
        margin-right: 17px; }

/*# sourceMappingURL=basics.css.map */