button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
border: none;
}
*:focus {outline: none;}

// Цвет выделения текста
::selection {background: #50d7e0;color:white;}
::-moz-selection {background: #50d7e0;color:white;}
::-webkit-selection {background: #50d7e0;color:white;}

// Цвет плейсхолдера //
::-webkit-input-placeholder {color:#777}
::-moz-placeholder {color:#777}
:-ms-input-placeholder {color:#777}
:-moz-placeholder {color:#777}

// Фиксирование для body (при кастомных модальных окнах)
.noscroll {position: fixed;}

// Настройки для автозаполнения Chrome
input:-webkit-autofill {
    -webkit-text-fill-color: black !important; // Поменять цвет на аналогичный цвету input'а
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000000000s ease-in-out 0s !important;
}

// Равное расстояние между колонками
.cols {text-align:justify; text-justify:distribute;
  &:after {content:""; display:inline-block; height:0.0000000000001px; width:100%;}
    >* {display:inline-block; box-sizing: border-box; vertical-align: top;
  }
}
// Сетка //









// Основы //
html {width:100%; min-height:100%; overflow-x:hidden;}
body {width:100%; min-height:100%; font-size:0; font-family: 'Gotham Pro', Arial, sans-serif; color:#191919; overflow-x:hidden;}

header, section, footer {width:100%; float:left;}
section {min-height: 100vh; padding: 100px 0; box-sizing: border-box; display: flex; align-items: center; text-align: center; position: relative; flex-flow:wrap; align-content: center;
	>img {position: absolute;}
}
.container {width:1270px; min-width:960px; margin:0 auto; position:relative; z-index:2;}
// Основы //









// Типографика //
h1,h2,h3,h4,h5,h6,p,span,ul,li {margin:0; padding:0}
ul {list-style:none}
span {font-style: inherit; font-family: inherit; font-weight: inherit;}

h1,h2,h3,h4,h5 {font-family: 'Amperserif'; text-transform: uppercase;} // Общие стили для заголовков (если есть)

// Стили заголовков (удалить лишнее)
h1 {font-size:48px; letter-spacing: 0.225em;}
h2 {font-size:40px;}
h3 {font-size:24px; letter-spacing: 0.2em; line-height: (36/24)*1em;}

// Стили абзацев (удалить лишнее)
p {font-size:18px; line-height:(27/18)*1em;}
p.small {font-size:12px;}
p.big {font-size:24px;}
p.huge {font-size:36px;}
// Типографика //









// Формы, кнопки, поля ввода //
a,input,button,select,textarea {transition: all 0.25s ease-in-out; box-sizing: border-box;}
a {text-decoration: inherit; font-weight: inherit; line-height:inherit; color:inherit;}
select, input, textarea {padding: 10px; text-align: left; margin: 0; padding:0; border: 0; font-size: 14px; display:inline-block;}

.button {text-align:center; display:inline-block; font-size:16px;
    &.account {margin-right: 29px;
	    img {margin-right: 7px; vertical-align: middle; margin-top: -4px;}
        &:hover {opacity:.6}
    }
    &.login {padding: 0px; border: 1px solid #d8d8d8; border-radius: 24px; line-height: 46px; width:195px;
	    img {margin-right: 7px; vertical-align: middle; vertical-align: middle; margin-top: -2px; transition:all 0.25s ease-in-out; left:0; position:relative;}
        &:hover {border-color:#888;
            img {margin-right:17px;}
        }
    }
}
// Формы, кнопки, поля ввода //